<div class="container">
  <h1>Stupid Coaching</h1>
  <blockquote>
    <p><%= params[:question] %></p>
    <cite>You</cite>
  </blockquote>

  <blockquote class="coach">
    <p class="chat"><%= @answer %></p>
    <cite>Your coach</cite>
  </blockquote>

  <%= link_to "Ask a new question", ask_path %>
</div>
