<div class="container">
  <h1>Stupid Coaching</h1>
  <p class="ask">Ask your coach anything:</p>
  <form action="answer" class="form-inline">
    <div class="form-group">
      <input type="text" name="question" class="form-control">
    </div>
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
